{% extends 'base.html' %}

{% block header_title %}
    Contact - My Personal Website
{% endblock %}

{% block content %}
    <h2>Contact</h2>
    <p>In the future, If you'd like to get in touch, please fill out the form (currently in development) below:</p>
    <form>
        <!-- Add your contact form fields here -->
    </form>
    <p>For now, you can contact Jay here: <a href="mailto:jhenley5@jhu.edu">email me</a>.</p>
    <p>Or, you can contact Ross here: <a href="mailto:randers94@jhu.edu">email me</a>.</p>

{% endblock %}
